# Filtering galaxies

### We exclude galaxies which have already been observed in former missions. For future use of this code, it needs to be updated with new sources that were observed.

In [10]:
import os
import astropy.units as u
import pandas as pd
import numpy as np
from astropy.coordinates import Angle

In [12]:
# You need to give a list of astronomical objects with spherical coordinates RA & DEC
csv_path = os.path.join(os.getcwd(), "S4G_1.csv")
df = pd.read_csv(csv_path)
mask_ra = (df['ra'] > 100) & (df['ra'] < 330)
mask_dec = (df['dec'] > (-60)) & (df['dec'] < 22)
mask_mstar = (df['mstar'] > 10) #MW analogs criteria
mask_vmaxg = (df['vmaxg'] > 100) #MW analogs criteria
mask_t = (df['t'] > 1.5) & (df['t'] < 4.5) #MW analogs criteria
mask_incl = (df['incl'] > 40) & (df['incl'] < 70) #MW analogs criteria

# Combine masks using the logic operator "&" (AND)
mask_combined = mask_ra & mask_dec & mask_mstar & mask_vmaxg & mask_t & mask_incl

# Remove lines that doesn't satisfy all criteria at the same time
df = df[mask_combined]

# List of galaxies to be removed (previous missions objects + actual)

# Loads the main table and add new columns
df['equinox']='J2000'

# To upload the coordinates to Staralt, RA must be at degree units 
df['ra_hours'] = df['ra'].apply(lambda x: (x * u.deg).to(u.hourangle).value)

# Lists the galaxies to be removed (past missions + current)
galaxias_remover = ['ESO404-012','NGC5750','NGC5757','NGC4045','IC4237', 'NGC5957','NGC5962','NGC3321', 
                    'IC1055','IC1067','IC1158','IC1438','NGC4897','NGC4902','NGC5913','NGC7219','NGC7690',
                    'NGC4480','NGC4378','NGC4409','NGC4580','PGC036217','NGC7421','NGC6870','NGC6902',
                    'NGC6923','NGC4941','NGC4050','NGC7418','NGC6118','IC4901','NGC6887','NGC6063',
                    'NGC6925','NGC6070','NGC2731','NGC3507','NGC7205','NGC4158','NGC2966','NGC4527','NGC4351',
                    'NGC5247','NGC5756','NGC7552','NGC7179','NGC3976','NGC4628','NGC4067','NGC5364','NGC4313',
                    'UGC08067','NGC3715','NGC3177','ESO443-042','NGC7368','NGC4639','IC5334','NGC4343','PGC047721',
                    'NGC4394','NGC3681','NGC4462','NGC4746','NGC7171','NGC5534','NGC3705','NGC3684', 'NGC5806',
                    'NGC5850', 'NGC5878','NGC5915','NGC5921','NGC5937','NGC7163','NGC6012','NGC7140','ESO342-013']

# Filters DataFrame, keeping only galaxies whiche are NOT on remotion list
df_filtered = df[~df['object'].isin(galaxias_remover)]

# Shows how many galaxies were removed
print(f"Original: {len(df)}")
print(f"Total after filter: {len(df_filtered)}")
print(f"# of removed galaxies: {len(df) - len(df_filtered)}")

# Saves the result into a .csv file
df_filtered.to_csv('tabela_filtrada.csv', index=False)

Original: 46
Total after filter: 34
# of removed galaxies: 12

Selecting only the galaxy position columns

In [5]:
df_positions = df_filtered[['object', 'ra','dec']]
df_positions

#The output here is to be copied and the pasted into the next notebook (Juan's notebook "Finders")

          object          ra        dec
15       NGC4658  191.157310 -10.083328
166      NGC2775  137.583953   7.037979
184      NGC2903  143.042403  21.501831
215      NGC4699  192.259168  -8.664333
299      NGC4981  197.203149  -6.777515
301      NGC4995  197.419343  -7.833410
312      NGC5054  199.243655 -16.634561
317      NGC5079  199.908528 -12.698959
388      NGC4165  183.049182  13.246485
396      NGC4193  183.473247  13.172955
420      NGC3981  179.031044 -19.895948
429      NGC4030  180.098393  -1.100035
535      NGC5740  221.101844   1.679810
583   ESO576-001  197.598995 -21.684189
731    PGC053093  223.043393 -10.740294
740      NGC5781  224.172071 -17.243358
797      NGC3368  161.690350  11.819975
808      NGC3521  166.452415  -0.035937
970      NGC4799  193.814776   2.896736
978      NGC4826  194.181848  21.683075
1119     NGC3351  160.990618  11.703659
1191     NGC4450  187.123344  17.084958
1308     NGC5248  204.383361   8.885187
1321     NGC3627  170.062528  12.991503
1489     NGC4380  186.342423  10.016819
1529     NGC3673  171.303583 -26.736739
1657     NGC4237  184.297628  15.324096
1757     NGC5661  217.989218   6.250440
1796     NGC4568  189.142956  11.238855
1800     NGC4579  189.431405  11.818196
1804     NGC4591  189.801880   6.012247
1906     NGC4501  187.996511  14.420326
2005     NGC4602  190.153836  -5.132830
2146      IC0769  183.134680  12.123775

### Creates a table with these positions

In [5]:
df_final.to_csv('staralt.csv')

# Converting coordinates from deg deg to h m s and deg m s

### To set coordinates of targets at the Pointing, in TCSPD monitor, those should be on the units
##### ra: hour minutes seconds
##### dec: degree minutes seconds
### Let's make the units conversion to all of them

In [25]:
df_final['ra_hms'] = df_final['ra'].apply(
    lambda x: Angle(x, unit='deg').to_string(unit='hour', sep=':', pad=True))

# Converting only decimals to DMS
def decimal_to_dms(decimal_deg):
    degrees = int(decimal_deg)  # Full part of degrees
    decimal_part = abs(decimal_deg - degrees)  # Decimal part (0.xxx)
    
    # Converts decimal part to minutes and seconds
    total_seconds = decimal_part * 3600  # 1° = 3600 seconds
    minutes = int(total_seconds // 60)
    seconds = total_seconds % 60
    
    return f"{degrees}° {minutes}' {seconds:.2f}\""

# Apply the function to the column
df_final['dec_dms'] = df_final['dec'].apply(decimal_to_dms)

df_f = df_final[['object', 'ra_hms', 'dec_dms']]

/tmp/ipykernel_310/2140192615.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['ra_hms'] = df_final['ra'].apply(
/tmp/ipykernel_310/2140192615.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['dec_dms'] = df_final['dec'].apply(decimal_to_dms)

In [26]:
df_f

        object          ra_hms          dec_dms
1       IC5039  20:43:14.32224  -29° 51' 12.09"
2      IC5105B  21:26:00.21288   -40° 50' 5.25"
3   ESO234-049     20:35:18.06  -49° 51' 56.27"
4   ESO285-048  20:44:40.11768  -45° 58' 42.41"
7      NGC6889   20:18:53.1348  -53° 57' 25.20"
10     NGC7059  21:27:21.50064   -60° 0' 52.36"
12     NGC7151    21:55:03.876  -50° 39' 27.40"
13     NGC7162  21:59:39.03096  -43° 18' 21.91"
15   PGC066242  21:10:05.10144    -3° 42' 6.00"
16  ESO402-025  21:22:15.92232  -36° 37' 39.21"
17  ESO403-024  21:46:39.65016  -36° 12' 19.92"
18  ESO403-031  21:48:04.04472  -36° 46' 21.56"
19  ESO404-003  21:52:39.73872   -36° 30' 9.84"
21  ESO342-050  21:28:15.02424  -37° 51' 40.78"

In [24]:
#Saves the updated coordinates into a csv file
df_final.to_csv('staralt_hours.csv')